.label-info {
    font-weight: 700;
}

.error-msg {
    color: red;
    font-size: 12px;
}

select#egSelect {
    padding: 15px;
    font-size: 1rem;
    height: 100%;
    width: 100%;
    border: 20px;
    border-left-width: 50px;
    border-right-width: 50px;
    background: transparent;
}

#egselect{
    padding : 10px;
}

select#clustername {
    padding: 15px;
    font-size: 1rem;
    height: 100%;
    width: 100%;
    border: 20px;
    background: transparent;
}

select#noOfInstances {
    padding: 15px;
    font-size: 1rem;
    height: 100%;
    width: 100%;
    border: 20px;
    background: transparent;
}

select#volumeSize {
    padding: 15px;
    font-size: 1rem;
    height: 100%;
    width: 100%;
    border: 20px;
    background: transparent;
}

select#markettype {
    padding: 15px;
    font-size: 1rem;
    height: 100%;
    width: 100%;
    border: 20px;
    background: transparent;
}

select#slaveinstancetype {
    padding: 15px;
    font-size: 1rem;
    height: 100%;
    width: 100%;
    border: 20px;
    background: transparent;
}

select#slave_markettype {
    padding: 15px;
    font-size: 1rem;
    height: 100%;
    width: 100%;
    border: 20px;
    background: transparent;
}

select#volumesize {
    padding: 15px;
    font-size: 1rem;
    height: 100%;
    width: 100%;
    border: 20px;
    background: transparent;
}

select#slavevolumesize {
    padding: 15px;
    font-size: 1rem;
    height: 100%;
    width: 100%;
    border: 20px;
    background: transparent;
}

select#pricingtype {
    padding: 15px;
    font-size: 1rem;
    height: 100%;
    width: 100%;
    border: 20px;
    background: transparent;
}

select#slavepricingtype {
    padding: 15px;
    font-size: 1rem;
    height: 100%;
    width: 100%;
    border: 20px;
    background: transparent;
}

.form-control {
  padding: 0px !important
}

#heading > label {
    font-weight: bolder !important;
}