select#egSelect {
    padding: 15px;
    font-size: 1rem;
    height: 100%;
    width: 100%;
    border: 20px;
    border-left-width: 50px;
    border-right-width: 50px;
    background: transparent;
}

select#keyname {
    padding: 15px;
    font-size: 1rem;
    height: 100%;
    width: 100%;
    border: 20px;
    background: transparent;
}

select#usecase {
    padding: 15px;
    font-size: 1rem;
    height: 100%;
    width: 100%;
    border: 20px;
    background: transparent;
}

select#instancetype {
    padding: 15px;
    font-size: 1rem;
    height: 100%;
    width: 100%;
    border: 20px;
    background: transparent;
}

select#markettype {
    padding: 15px;
    font-size: 1rem;
    height: 100%;
    width: 100%;
    border: 20px;
    background: transparent;
}

select#slaveinstancetype {
    padding: 15px;
    font-size: 1rem;
    height: 100%;
    width: 100%;
    border: 20px;
    background: transparent;
}

select#slave_markettype {
    padding: 15px;
    font-size: 1rem;
    height: 100%;
    width: 100%;
    border: 20px;
    background: transparent;
}

select#volumesize {
    padding: 15px;
    font-size: 1rem;
    height: 100%;
    width: 100%;
    border: 20px;
    background: transparent;
}

select#slavevolumesize {
    padding: 15px;
    font-size: 1rem;
    height: 100%;
    width: 100%;
    border: 20px;
    background: transparent;
}

select#pricingtype {
    padding: 15px;
    font-size: 1rem;
    height: 100%;
    width: 100%;
    border: 20px;
    background: transparent;
}

select#slavepricingtype {
    padding: 15px;
    font-size: 1rem;
    height: 100%;
    width: 100%;
    border: 20px;
    background: transparent;
}

.form-control {
  padding: 0px !important
}

#heading > label {
    font-weight: bolder !important;
}