
body {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}


.landing-page-container {
    width: 100% ;
    height: 100%;
    position: relative;
    background-color: darkturquoise;
  
    
}

.img-fluid {
    width: 100%;
    height: 627px;
    
}

.left-side-container {
    height: 700px;
    width: 165px;
    top: 75px;
    left: 70px;
    z-index: 1000;
     background: #f3f5f9;
}

.right-side-container {
    height: 700px;
    width: 50%;
    position: absolute;
    top: 45px;
    left: 340px;
    z-index: 1000;
    overflow-y: auto !important;
}

.left-side-text {
    padding: 20px;
    color: #031b4e;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -1px;
    text-align: center;
}

.content {
    margin: auto;
    width: max-content;
    text-align: center;
}

.icon-img {
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.right-heading {
    font-size: 20px;
    color: white;
    font-weight: 800;
}

.center {
    text-align: center;
}

.left-side-text.selected, .left-side-text:hover {
    background-color:  grey; 
}

.right-side-container div {
    font-size: 20px;
    color: white;
}

.card{
        border: 1px solid #e5e8ed;
    border-radius: 5px;
    box-shadow: 10px 10px 10px cadetblue;
}